## Assessing Database

TUTORIAL: https://www.w3schools.com/python/python_mongodb_getstarted.asp

In [1]:
import pymongo
import json

### Connect with remote Database

In [2]:
user = 'npsclass2020'
password = 'npsclass2020'
database_name = 'migration'
client = pymongo.MongoClient("mongodb+srv://" + user + ":" + password + "@" \
                                + "cluster0-ui9hr.mongodb.net/" + database_name + "?retryWrites=true&w=majority")

In [6]:
db = client["migration2020"]
collection = db["members"]

In [8]:
db.members.estimated_document_count()

1000

#### Query

In [12]:
x = db.members.find_one()
print(x)

{'_id': ObjectId('5f37255532be840315862f96'), 'ID': '82Q6H2OCLB', 'age': 42, 'gender': 'male', 'profession': {'major': 'Arts, Design, Entertainment, Sports, and Media Occupations', 'branch': 'Interior Designers'}, 'interest': 'stories', 'home_address': {'province': 'PN1', 'district': 'Panchthar', 'MCP': 'Miklajung RM', 'ward': 'Ward 6'}, 'foreign_address': {'country': 'Aruba', 'ID': 'AW', 'lat': '12.52111', 'lon': '-69.968338', 'city': 'ORANJESTAD'}, 'date_out': '2015.2.12', 'date_return': '2019.3.9', 'fund2invest': {'invetsment sector': '8%', 'tourism and hospitality': '2%', 'animal husbandary': '6%', 'infrastructure': '8%', 'cottage industries': '6%', 'personal service business': '10%', 'retail business': '4%', 'consultancy service': '2%', 'alternative energy': '6%', 'agriculture': '8%', 'total_fund': 7109}, 'remittance': [{'month': 6, 'amount': 459}, {'month': 3, 'amount': 466}, {'month': 3, 'amount': 794}, {'month': 8, 'amount': 400}], 'travell': [{'date': '2017.11.7', 'place': {'country': 'Lithuania', 'city': 'Panevezhis'}}, {'date': '2015.1.26', 'place': {'country': 'Papua-New-Guinea', 'city': 'N'}}, {'date': '2019.7.5', 'place': {'country': 'Macedonia-[FYROM]', 'city': 'A'}}], 'social_work': [{'date': '2002.7.6', 'work': 'pollution control'}, {'date': '2012.1.15', 'work': 'workshop for young'}], 'personal_view': ['While all parties involved in the construction process have contributed to the current fiasco, one lesson is especially poignant as stakeholders take the next necessary steps to identify a new contractor: more thoughtful deliberation must factor into procurement decisions. A number of factors—including corruption, mismanagement, deviation from contract promises, sluggish cash flow, and a circular bout of finger pointing—has played into the current Melamchi saga. But tussles between contractors and government officials, often manifesting in contract terminations, have featured heavily in these delays.']}

In [22]:
myquery = { "age": 40 }

mydoc = db.members.find(myquery)

for x in mydoc:
      print(x['ID'],x['gender'],x['remittance'])

881S65K6BB female [{'month': 7, 'amount': 280}, {'month': 3, 'amount': 625}, {'month': 4, 'amount': 683}, {'month': 11, 'amount': 685}, {'month': 9, 'amount': 661}, {'month': 8, 'amount': 775}]
A90P68H341 female [{'month': 10, 'amount': 633}, {'month': 8, 'amount': 922}, {'month': 4, 'amount': 972}, {'month': 2, 'amount': 683}]
R2OQ5K2SSC male [{'month': 1, 'amount': 215}, {'month': 4, 'amount': 994}, {'month': 8, 'amount': 685}]
4B8434N8A9 female [{'month': 5, 'amount': 223}, {'month': 3, 'amount': 356}, {'month': 9, 'amount': 529}]
Q55938YH16 female [{'month': 5, 'amount': 650}, {'month': 7, 'amount': 590}, {'month': 12, 'amount': 451}, {'month': 3, 'amount': 476}]
I8X7I1Z757 female [{'month': 2, 'amount': 658}, {'month': 10, 'amount': 341}, {'month': 6, 'amount': 121}, {'month': 8, 'amount': 813}, {'month': 11, 'amount': 435}, {'month': 10, 'amount': 377}]
W7LL2NK9NI male [{'month': 4, 'amount': 508}, {'month': 8, 'amount': 475}, {'month': 11, 'amount': 346}, {'month': 3, 'amount': 329}, {'month': 6, 'amount': 740}, {'month': 8, 'amount': 231}]
8J398SF309 female [{'month': 4, 'amount': 383}, {'month': 3, 'amount': 687}, {'month': 6, 'amount': 842}, {'month': 8, 'amount': 842}]
S2TL01722M male [{'month': 2, 'amount': 729}, {'month': 7, 'amount': 557}, {'month': 3, 'amount': 687}, {'month': 11, 'amount': 716}, {'month': 6, 'amount': 712}]
KG908X485D male [{'month': 1, 'amount': 213}, {'month': 1, 'amount': 476}, {'month': 11, 'amount': 681}, {'month': 5, 'amount': 228}, {'month': 6, 'amount': 437}, {'month': 12, 'amount': 132}]
6R1N82N980 female [{'month': 7, 'amount': 768}, {'month': 10, 'amount': 301}, {'month': 1, 'amount': 166}, {'month': 12, 'amount': 423}, {'month': 4, 'amount': 293}, {'month': 10, 'amount': 174}]
KK5C9P1COO male [{'month': 9, 'amount': 297}, {'month': 4, 'amount': 229}, {'month': 4, 'amount': 938}]
JC1YMVK28N female [{'month': 4, 'amount': 435}, {'month': 3, 'amount': 756}, {'month': 3, 'amount': 922}, {'month': 6, 'amount': 787}, {'month': 8, 'amount': 460}, {'month': 10, 'amount': 820}]
DZ1A0VBE41 male [{'month': 5, 'amount': 429}, {'month': 6, 'amount': 619}, {'month': 11, 'amount': 636}, {'month': 10, 'amount': 941}]
445RQZOKUL male [{'month': 11, 'amount': 901}, {'month': 3, 'amount': 242}, {'month': 3, 'amount': 913}, {'month': 12, 'amount': 590}, {'month': 10, 'amount': 559}, {'month': 12, 'amount': 357}]
2WGOI3W7K8 female [{'month': 12, 'amount': 769}, {'month': 3, 'amount': 402}, {'month': 10, 'amount': 732}, {'month': 9, 'amount': 892}, {'month': 4, 'amount': 407}, {'month': 5, 'amount': 798}]
LCDKDLG0Z7 male [{'month': 3, 'amount': 865}, {'month': 11, 'amount': 559}, {'month': 9, 'amount': 190}]
JCU6B2L8Y4 female [{'month': 8, 'amount': 602}, {'month': 2, 'amount': 935}, {'month': 2, 'amount': 777}]
99F5M17772 male [{'month': 12, 'amount': 473}, {'month': 4, 'amount': 640}, {'month': 4, 'amount': 960}, {'month': 10, 'amount': 108}, {'month': 10, 'amount': 335}, {'month': 2, 'amount': 942}]
8VOF0567VE female [{'month': 2, 'amount': 721}, {'month': 3, 'amount': 622}, {'month': 4, 'amount': 557}, {'month': 2, 'amount': 396}, {'month': 11, 'amount': 642}]
8L1DC4AFBV male [{'month': 2, 'amount': 843}, {'month': 4, 'amount': 800}, {'month': 1, 'amount': 583}]
ZTEPGYWHI8 female [{'month': 1, 'amount': 448}, {'month': 2, 'amount': 416}, {'month': 5, 'amount': 172}, {'month': 6, 'amount': 440}]
N7NHEU96M4 female [{'month': 4, 'amount': 154}, {'month': 12, 'amount': 162}, {'month': 5, 'amount': 759}, {'month': 8, 'amount': 468}, {'month': 8, 'amount': 674}]
MTJ19X5KN6 male [{'month': 6, 'amount': 963}, {'month': 1, 'amount': 732}, {'month': 5, 'amount': 738}, {'month': 10, 'amount': 317}, {'month': 12, 'amount': 186}]
08TXIADL27 female [{'month': 10, 'amount': 818}, {'month': 1, 'amount': 661}, {'month': 9, 'amount': 180}, {'month': 3, 'amount': 749}]
J6MZZX4I64 male [{'month': 10, 'amount': 396}, {'month': 4, 'amount': 315}, {'month': 4, 'amount': 956}, {'month': 8, 'amount': 356}]
7657GEAJ4Q female [{'month': 8, 'amount': 791}, {'month': 9, 'amount': 711}, {'month': 2, 'amount': 302}, {'month': 10, 'amount': 776}]
KI364B2L16 male [{'month': 2, 'amount': 217}, {'month': 10, 'amount': 913}, {'month': 5, 'amount': 199}]
DG42VVJ7D8 male [{'month': 2, 'amount': 495}, {'month': 2, 'amount': 751}, {'month': 1, 'amount': 872}, {'month': 10, 'amount': 984}, {'month': 2, 'amount': 443}, {'month': 4, 'amount': 650}]
8JQ1KXLR63 male [{'month': 12, 'amount': 600}, {'month': 7, 'amount': 237}, {'month': 12, 'amount': 810}]
W0KVQ6E6E4 female [{'month': 12, 'amount': 639}, {'month': 6, 'amount': 577}, {'month': 9, 'amount': 191}, {'month': 11, 'amount': 227}]
RFZCNCP572 female [{'month': 3, 'amount': 485}, {'month': 2, 'amount': 407}, {'month': 9, 'amount': 543}]
JAPVNC8A07 male [{'month': 10, 'amount': 642}, {'month': 6, 'amount': 435}, {'month': 11, 'amount': 840}]
14LOEQQJU2 female [{'month': 7, 'amount': 501}, {'month': 6, 'amount': 945}, {'month': 1, 'amount': 835}]
74I4QFB74K male [{'month': 3, 'amount': 956}, {'month': 3, 'amount': 185}, {'month': 10, 'amount': 565}]
7PY3Y3V4GD female [{'month': 12, 'amount': 247}, {'month': 2, 'amount': 894}, {'month': 10, 'amount': 452}]
M9LKC2B3F3 female [{'month': 3, 'amount': 538}, {'month': 2, 'amount': 581}, {'month': 6, 'amount': 931}, {'month': 5, 'amount': 839}, {'month': 3, 'amount': 876}]
868NCCF7HB male [{'month': 1, 'amount': 511}, {'month': 9, 'amount': 119}, {'month': 10, 'amount': 986}, {'month': 7, 'amount': 507}, {'month': 1, 'amount': 970}]
59G172SSYN male [{'month': 2, 'amount': 579}, {'month': 6, 'amount': 664}, {'month': 6, 'amount': 847}, {'month': 11, 'amount': 351}]

In [24]:
myquery = { "age": 30,"gender":'female' }

mydoc = db.members.find(myquery)

for x in mydoc:
      print(x['ID'],x['gender'],x['home_address'])

B1V87HGS4N female {'province': 'PN1', 'district': 'Taplejung', 'MCP': 'Sidingawa RM', 'ward': 'Ward 7'}
4FD45LW045 female {'province': 'PN7', 'district': 'Baitadi', 'MCP': 'Sigas RM', 'ward': 'Ward 3'}
XH6648FZ6G female {'province': 'PN7', 'district': 'Bajhang', 'MCP': 'Bithadchir RM', 'ward': 'Ward 2'}
T76SZFY1Y6 female {'province': 'PN2', 'district': 'Parsa', 'MCP': 'Sakhuwa Prasouni RM', 'ward': 'Ward 4'}
10IJ898996 female {'province': 'PN2', 'district': 'Siraha', 'MCP': 'Bishnupur RM', 'ward': 'Ward 5'}
6XD449W9Q3 female {'province': 'PN5', 'district': 'Bardiya', 'MCP': 'Thakura Baba MCP', 'ward': 'Ward 2'}
7Y20I9L3IB female {'province': 'PN4', 'district': 'Tanahun', 'MCP': 'Bandipur RM', 'ward': 'Ward 6'}
MM2533XA32 female {'province': 'PN5', 'district': 'Dang', 'MCP': 'Gadhawa RM', 'ward': 'Ward 2'}
JX22IS59WX female {'province': 'PN5', 'district': 'Pyuthan', 'MCP': 'Sarumarani RM', 'ward': 'Ward 3'}
14ZV1W86CS female {'province': 'PN1', 'district': 'Ilam', 'MCP': 'Mai MCP', 'ward': 'Ward 2'}
M0FOYK6QU7 female {'province': 'PN5', 'district': 'Arghakhanchi', 'MCP': 'Malarani RM', 'ward': 'Ward 2'}
O2RTR44L30 female {'province': 'PN2', 'district': 'Mahottari', 'MCP': 'Bhangara RM', 'ward': 'Ward 8'}
1J55GQOWZ8 female {'province': 'PN6', 'district': 'Surkhet', 'MCP': 'Lek Besi MCP', 'ward': 'Ward 3'}
212KI6E6FM female {'province': 'PN5', 'district': 'Banke', 'MCP': 'Janaki RM', 'ward': 'Ward 4'}
XO87CK18CN female {'province': 'PN6', 'district': 'Dolpa', 'MCP': 'She-Phoksundo RM', 'ward': 'Ward 3'}
UKW30HK45Q female {'province': 'PN7', 'district': 'Achham', 'MCP': 'Panchdeval Binayak MCP', 'ward': 'Ward 6'}
7O5RY80KZD female {'province': 'PN5', 'district': 'Rolpa', 'MCP': 'Sunchhahari RM', 'ward': 'Ward 2'}
9E8682U977 female {'province': 'PN2', 'district': 'Rautahat', 'MCP': 'Phatuwa Bijayapur RM', 'ward': 'Ward 5'}
64I86QNX51 female {'province': 'PN7', 'district': 'Kanchanpur', 'MCP': 'Beldandi RM', 'ward': 'Ward 3'}
9A8AEQY923 female {'province': 'PN1', 'district': 'Taplejung', 'MCP': 'Sidingawa RM', 'ward': 'Ward 4'}